/*Algemeen*/
body {
    background-size: 100%;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(230, 230, 230) );
    margin: 0 0px;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(230, 230, 230) );
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    padding-left: 12%;
}

.navbar li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.navbar li a {
    color: rgb(83, 83, 83);
    text-align: center;
    padding: 23px 16px;
    text-decoration: none;
    float: left;

}

.navbar li a:hover {
    color: rgb(0, 73, 168);
}

.sticky {
    position: fixed;
    top: 0px;
    width: 100%;
    left: 0px;
}



/*Home page*/
.hz-image {
    float: right;
    border-radius: 180px;
    width: 5%;
    min-width: 50px;
    margin-right: 13%;
}

.waarom-ik-bij-de-opleiding-pas {
    text-align: left;
    margin-left: 13%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    font-size: 20px;
}

.waarom-ik-bij-de-opleiding-pas h3 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2em;
}

.homepage-tekst h1 {
    color: rgba(0, 0, 0, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
    text-align: left;
    margin-left: 13%;
    margin-right: 0 auto;
    margin-top: 10%;
    width: 60%;
}

.homepage-tekst p {
    color: rgba(0, 0, 0, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 13%;
    margin-right: 0 auto;
    text-align: left;
    margin-bottom: 10%;
    width: 35%;
    line-height: 1.5em;
}

.hz-gebouw {
    width: 100%;
}




/*blog page*/
.header-blog {
    margin-top: 10%;
    margin-left: 13%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
}

.studiekeuze {
    margin-left: 13%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    font-family: Arial, Helvetica, sans-serif;
}

.studiekeuze p  {
    padding: 30px;
    line-height: 1.5em;
    font-size: 20px;
}

.swot {
    margin-left: 13%;
    margin-right: 30%;
    margin-top: 5%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    font-family: Arial, Helvetica, sans-serif;
}

.swot p  {
    padding: 30px;
    line-height: 1.5em;
    font-size: 20px;
}

.programmeren-ervaring {
    margin: 5% 30% 0% 13%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    font-family: Arial, Helvetica, sans-serif;
}

.programmeren-ervaring p  {
    padding: 30px;
    line-height: 1.5em;
    font-size: 20px;
}

.eerste-feedback {
    margin: 5% 30% 10% 13%;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    font-family: Arial, Helvetica, sans-serif;
}

.eerste-feedback p  {
    padding: 30px;
    line-height: 1.5em;
    font-size: 20px;
}

.studiekeuze-tekst h2 {
    font-size: 20px;
}
.swot h3 {
    font-size: 20px;
}
.programmeren-ervaring h4 {
    font-size: 20px;
}

.eerste-feedback h5 {
    font-size: 20px;
}


/*profile page*/
.bg-image {

    height: 125%;

    background-repeat: no-repeat;
    background-size: 100%;
}


.img1 {
    background-image: url("/img/foto_jay_5.jpg");
    height: 90%;
}

.img2 {
    background-image: url("/img/foto_jay_2.jpeg");
}

.img3 {
    background-image: url("/img/foto_jay_3.jpeg");
}

.img4 {
    background-image: url("/img/background_foto_9.jpg");
    height: 90%;
}

.bg-text h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4%;
}

.bg-text  {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 5px solid #f1f1f1;
    position: fixed;
    top: 55%;
    margin-left: 40%;
    margin-right: 4%;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.bg-tekst-2 h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin-top: 8%;
}
.bg-text-2  {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: 5px solid #f1f1f1;
    position: fixed;
    top: 55%;
    left: 79%;
    padding: 20px;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}



/*FAQ page*/

.questions {
    color: rgba(0, 0, 0, 0.918);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-top: 10%;
    margin-left: 13%;
    margin-right: 0 auto;
    text-align: left;
    margin-bottom: 10%;
    width: 50%;
}

.questions h1 {
    margin-top: 10%;
    font-size: 55px;
}

.questions ul {
    box-shadow: 0px 0px 10px rgb(146, 146, 146);
    padding: 50px 100px 50px 50px;
    line-height: 1.5em;
}

.questions ol {
    padding: 5px 50px 20px 20px;
    margin-top: 5%;
    line-height: 1.5em;
}

#more {
    display: none;
}

#more2 {
    display: none;
}

#more3 {
    display: none;
}

#more4 {
    display: none;
}

#more5 {
    display: none;
}

/*Dashboard page*/
.dashheader1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    margin-left: 13%;
    font-size: 55px;
}
.opleiding-informatie-punten table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-left: 13%;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgb(230, 230, 230));
}

.opleiding-informatie-punten td,
th {
    border: 1px solid rgb(146, 146, 146);
    text-align: left;
    padding: 8px;
}

.opleiding-informatie-punten tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.11);
}

.dashboard-header-progres{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
}

.container {
    top: 60%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

.ui-widgets {
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 10rem;
    border-radius: 9rem;
    margin:1.5rem;
    border: 1.2rem solid palegreen;
    box-shadow: inset 0 0 7px grey;
    border-color: rgba(0, 89, 255, 0.274);
    text-align: center;
    box-sizing: border-box;
    margin-top: 560%;
    margin-bottom: 20%;
}

.ui-widgets:nth-child(2) {
    border-color: rgb(0, 0, 0);
}

.ui-widgets .ui-values {
    top: 40px;
    position: absolute;
    left: 10px;
    right: 0;
    font-weight: 700;
    font-size: 2.0rem;
    font-family: Arial, Helvetica, sans-serif;
}

.ui-widgets .ui-labels {
    left: 0;
    bottom: -16px;
    text-shadow: 0 0 4px grey;
    color:black;
    position: absolute;
    width: 100%;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*studiekeuze blog page*/
